.App
{
    background-color: #F4F9FF;
    display: flex;
    justify-content: center;
    max-width: 1530px;
    /* height: 500px; */
    flex-wrap: wrap;
    padding: 5rem;
    margin-inline: auto;
    /* padding-inline:20px */

}